<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<div class="error-container">
  <!-- wp:heading {"level": 1} -->
  <h1>404</h1>
  <!-- /wp:heading -->

  <!-- wp:paragraph -->
  <p
    style="
      text-align: center;
      color: #eaeaea;
      font-weight: 600;
      font-size: 20px;
    "
  >
    Oops! Looks like you're off-key! Let's get you back on track.
  </p>
  <!-- /wp:paragraph -->
  <a href="/" class="backbtn">Go back to the home page</a>
</div>

<!-- wp:template-part {"slug": "footer", "tagName": "footer"} /-->
