<!-- wp:template-part {"slug": "header", "tagName": "header"} /-->

<!-- wp:heading {"level":2} -->
<h2 class="lessons">Our Instructors</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p style="text-align: center; color: #eaeaea; font-size: 14px">
  Click on each picture to learn more or contact the instructor.
</p>
<!-- /wp:paragraph -->

<!-- wp:group {"className":"home-wrapper"} -->
<div class="home-wrapper">
  <!-- wp:group {"className":"instructor-wrapper"} -->
  <div class="instructor-wrapper">
    <a href="/instructors/#info" class="infore">
      <!-- wp:group {"className":"instructor-page-box"} -->
      <div class="instructor-page-box">
        <!-- wp:heading {"level": 3} -->
        <h3>Anne Johnson</h3>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:group -->
    </a>
    <a href="/instructors/#info" class="infore">
      <!-- wp:group {"className":"instructor-page-box2"} -->
      <div class="instructor-page-box2">
        <!-- wp:heading {"level": 3} -->
        <h3>Mark Andrews</h3>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:group -->
    </a>
    <a href="/instructors/#info" class="infore">
      <!-- wp:group {"className":"instructor-page-box3"} -->
      <div class="instructor-page-box3">
        <!-- wp:heading {"level": 3} -->
        <h3>Sarah Collins</h3>
        <!-- /wp:heading -->
      </div>
      <!-- /wp:group -->
    </a>
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<div id="info"></div>
<!-- wp:group {"className":"ins-container"} -->
<div class="ins-container"></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug": "footer", "tagName": "footer"} /-->
